*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav.nav{
    grid-area: nav;
    background-color: #C5D1D9;

}

nav ol li a{
    text-decoration:none;
    color:  #2980B9;
    font-size: 1.8em;
}
nav ol li{
    padding: 1.5em;
    padding-bottom: 2em;
    list-style-type: none;
}

div.sobre{
    grid-area: sobre;
    padding: 1.5em;
}

div.sobre p{
    margin-bottom: 0.8em;
    font-size: 1em;
    line-height: 2em;
}

div.sobre a#lerMais{
    text-decoration: none;
    border: solid #224459 2px;
    color: #224459;
}

strong{
    color: #224459;
}

div.eventos{
    grid-area: eventos;
    padding: 1em;
    padding-left: 2em;
}


div.eventos ul li{
    margin: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}

div.programacao{
    grid-area: programacao;
    padding: 2em;
}

table{
    border: solid white 1px;
    border-spacing: 0;
    margin-top: 1em;

}
table td{
    border: solid white 1px;
    /* text-align: center; */
    /* line-height: 2em; */
    padding-right: 3em;
    padding-left: 3.5em;

}

div#nome{
    background-color: rgba(0,0,0,0.5);
    padding: 1.6em;
    text-align: center;
    margin-top: 3.5em;
    color: white;
}


div.amanda{
    grid-area: amanda;
    background-image: url(img/amanda.jpg);
    background-size: cover;
    filter: grayscale(100%);
}

div.natalia{
    grid-area: natalia;
    background-image: url(img/georgia.jpg);
    background-size: cover;
    filter: grayscale(100%);

}

div.henrique{
    grid-area:henrique;
    background-image: url(img/henrique.jpg);
    background-size: cover;
    filter: grayscale(100%);
}

div.larissa{
    grid-area:larissa;
    background-image: url(img/ellen.jpg);
    background-size: cover;
    filter: grayscale(100%);
}

div.formulario{
    grid-area:formulario;
    padding: 2em;
}

input.inputtext{
    padding: 1em;
    /* padding-right: 15em; */
    margin-top: 1em;
    border: solid gray 3px;
    width: 25em;
}
input#aluno{
    margin-top: 2em;
}

input#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: black; 
    margin: 2em auto;
    padding: 1em;
    padding-left: 6em;
    padding-right: 6em;
}

div.organizacao{
    grid-area:organizacao;
    padding: 2em;
    padding-right: 10em;
}

div.organizacao p{
    margin-top: 2em;
}

div.organizacao ul li{
    margin-top: 1em;
    margin: 1em;

}

footer{
    grid-area:footer;
    background-color:#224459;
    padding: 4em;
    color: white;
    text-align: center;
    margin-top: 0.8em;
}

main{
    display: grid;
    grid-template-areas:
    "nav sobre programacao programacao amanda"
    "nav eventos formulario natalia henrique"
    "nav larissa formulario organizacao organizacao";
    gap: 0.7em; 
}

div.box{
    background-color: #ECECEC;
}

body{
    font-family: 'Roboto Mono', monospace;
}

h3{
    font-size: 1.5em;
}


header{
    background: linear-gradient(to left,#7292A6, #224459);
    color: white;
    padding: 1em;
    margin-bottom: 0.8em;
}

