*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(52, 131, 114);
    padding: 2em;
    margin-right: 2em;
}

main{
    padding: 2em;
}

header nav li{
    list-style-type: none;

}
header nav li a{
    color: white;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 1em;
}
header h1 a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

header h1{
    margin-bottom: 1.5em;
}

body{
    display: flex;
    height: 100vh;
}


h2#relatorio{
    margin-top: 1em;
    margin-bottom: 2em;
}

ul{
    list-style-type: none;
}

nav#inferior{
    background-color: white;
    padding: 1em;
}

ul{
    display: flex;
    justify-content: center;
    gap: 1em;
}

div#bloco{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

div.card{
    background-color: gainsboro;
    border: 1px solid;
    max-width: 10em;
    text-align: center;
}

div.card p#desc{
    margin-top: 1em;
    margin-bottom: 3.5em;
}

div#superior{
    display: flex;
    justify-content: space-between;
}

ul li a{
    color: rgb(69, 117, 95);

}